* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 1.5em;
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    background-image: url("../assets/images/background.webp");
    background-size: cover;
    overflow-y: scroll;
}

#title-box {
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 10px;
    border-radius: 6px;
}

#counter-box {
    height: 18vh;
    width: 80vw;
    border-radius: 6px;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
}

#counter-box-number {
    font-size: 1.4em;
    text-align: left;
}

#user-input-box {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 87.5vw;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    border: 3px solid #0E0E0E;
}

#starting-value, #time-delay {
    text-align: center;
}

.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #0E0E0E;
    border-radius: 6px;
    background-color: #B7CDF7;
    box-shadow: 3px 5px 0 #030B60;
    height: fit-content;
}

.inner-box {
    display: flex;
    height: 75%;
    width: 100%;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid #030B60;
    border-radius: 6px;
    margin: 0 10px;
    background-color: #F0F0F0;
}

#user-input-box-title-row {
    width: fit-content;
    justify-content: center;
    padding: 0 30px;
    margin: 1vh auto 1.5vh auto;
}

.menu-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
}

.top-border {
    border: 1px solid black;
}

.bottom-border {
    border: 1px solid black;
}

.menu-inner-box {
    display: flex;
    flex-direction: column;
    width: 82vw;
    margin: 0 auto 1vh auto;
    border: 2px solid #030B60;
    border-radius: 6px;
    background-color: #F0F0F0;
}

.box-row {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 5px 0;
}

.spacing {
    margin-bottom: 2.5vh;
}

#menu-submit-button-row {
    display: flex;
    justify-content: center;
}

#submit-button {
    width: fit-content;
    padding: 5px 8px;
    margin: 0 auto;
}